/* -- Allgemeines -- */

body {
  background:#ffffff;
  color:#000000;
  margin:0pt;
  padding:0pt; 
  /* min-width: 763px;  <-- kann der exploder nicht! */
  font-size:10pt;
  font-family: verdana, arial, sans-serif;
}

body.ro, div#payload.ro body.ro table.footer td {
  /* bei "readonly" Hintergrundfarbe aendern */
  background:#ffeedd;
}

div#payload {
  padding:1ex;
  background:#ffffff;
  color:#000000;
  margin:0pt;
  padding:0pt; 
  /* min-width: 763px;  <-- kann der exploder nicht! */
  font-size:10pt;
  font-family: verdana, arial, sans-serif;
}

a {
  color:#ED0606;
  text-decoration: none;
}
a:visited {
  color:#ED0606;
}
a:hover {
  text-decoration: underline;
} 

 
h1 {
 color:#ED0606;
 /* font-size: 2em; <-- macht keinen sinn: em ist _relativ_ zum fontsize! */
 font-size:16pt;
 line-height: 0.8em;
 padding: 5px;
 margin: 0 0 1em 0;
 /* border-bottom: 1px dotted #ED0606; */
}

input:hover, textarea:hover, select:hover {
	background-color:#f5f5f5;
}

/* - Logo bzw. Kopf - */

.head, .head td, .head table {
  background:#ed0606;
  border:none;
  color:#ffffff;
  font-weight: bold;
  font-size: 12pt;
  padding:0pt;
  margin:0pt;
}
.head#ro, .head#ro td, .head#ro table {
  background:url(readonly.gif);
  background-repeat:repeat;
}



#logo {
 height: 55px;
 padding: 0 20px;
 text-align: left;
 line-height: 54px;
 font-size: 54px;
 overflow: hidden; 
 letter-spacing: -3px;
 margin: 0;
}
#logo a, #logo a:hover {
 color: white; 
 text-decoration: none;
}
#logo a span { 
 color: #ED0606;
 background: white;
 padding-right: 0.1em;
 font-weight: bold;
}

/* das menu mit hover funktion  */
#menu {
 background:#ED0606;
 padding: 5px 5px; /* Je kleiner das Fenster desto kleiner soll auch der Abstand des Menüs rechts und links sein. */
 margin: 0pt 0pt 0pt 0pt;
 text-align: right;
 font-size:12pt;
}

#menu a {
	color: white;
	text-decoration: none;
}

#menu ul {
  padding: 0pt;
  margin: 0pt;
  list-style: none;
}

#menu li {
  font-size:11pt;
  display: inline; /* Damit die Menüpunkte nebeneinander und nicht untereinander erscheinen. */
  position: relative;
  list-style-type: none; /* Die Bullets vor den Menüpunkten schalten wir ab. */
  border-left: 1px dotted white; /* Ein optischer Trennungsstrich */
  padding: 0 10px 0 15px;
  font-weight: bold;
  color: white;
}

#menu li ul {
  border-width: 0.25em;
  margin: 0;
  display: none;
  position: absolute;
  top: 1.2em;
  right: 0px;
  border-top: solid #ED0606 ;
  background:#ED0606;
  }

#menu li ul li {
  border-bottom: 1px dotted white;
  border-left: none;
  display: block;
  text-align: right;
  padding: 0px 10px 0px 15px;
}

#menu li ul li a {
  display: block;
  width: 10em;
  font-size:0.6em;
  width: 12em;
  text-decoration: none;
  padding: 0.5em 0 0.5em 0;
}

#menu li:hover {
  background: white;
  border-bottom: 1px dotted #ED0606;
  color: #ED0606;
}
#menu li ul li:hover a, #menu li:hover a.first {
  color: #ED0606;
}

#menu li:hover ul { display: block; }


#content {
 	border-top: none;
 	padding: 20px 0px 0px 0px;
}

/* für die menüs */
table.menu td {
	border:none;
}

/* für die tabellen */
table {
	font-size:11pt;
	border-collapse:collapse;
	border:1px dotted gray;
	text-align:left;
	background-color: white;
}
th, td {
	border:1px dotted gray;	
	padding:4px;
  vertical-align:top;
}
th {
	font-weight:bold;
	background-color:#DDDDDD;
}

table.info {
	border-collapse:collapse;
}
table.info td, th {
	border-top:1px dotted gray;
}
	
a.png { border:none; }

table.inner, table.inner td {
	border:none;
}
table.inner td {
	padding:1px;
}
th.menge, th.toleranz {
	width: 70px;
}
th.gebinde {
	width: 170px;
}
	
table input {
	font-size:11pt;
}

/* für den hover effekt */
table.liste tr:hover {
	background-color: #efefef;
}
	
a.tabelle {
	color:#ED0606;
}

tr.legende {
	font-size: 11pt;
	color: gray;
}
tr.legende td { border: none}

.bigbutton		{
	width:200px;
	height:30px;
	font-size:12px;
	}
.bigbutton:hover 	{font-weight:bold;}


	
/* test für die notizanzeige in bestellen.php */

#notiz a {
/* display: block; */	
text-decoration:none;
font-weight:bold;
width:5px;
color: gray;
border:none;
}

#notiz a .showcase {
display: none;
}

#notiz a:hover .showcase {
position: relative;
top: 0px;
left: 20px;
display: block;
font: normal 0.9em sans-serif;
font-style:italic;
background: #efefef;
border: 1px dotted gray;
color:#000000;
padding: 2px 2px 2px 5px;
}

/* für die "tip" elemente */
#tip {
	width: 250px;
	background-color:#efefef;
	border: 1px dotted gray;
	color: #000;
	padding: 6px;
	font: normal 0.9em sans-serif;
	font-style:italic;
	 line-height: 1.3em;
}

th.warn, td.warn, div.warn, span.warn {
  background-color:#ffaaaa;
  color:#000000;
  font-weight:bold;
  padding-top:2px;
  padding-bottom:2px;
}

th.ok, td.ok, div.ok, span.ok {
  background-color:#ccffcc;
  color:#000000;
}

a.button, span.button {
  text-decoration:none;
  color:#000000;
  background-color:#f0f0ff;
  padding:0.1ex 1em 0.1ex 1em;
  margin-left:1em;
  margin-right:1em;
  border-style:solid;
  border-width:1pt;
  border-color:#000000;
  font-weight:bold;
}
a.button:hover, span.button:hover {
  font-weight:bold;
  text-decoration:underline;
  background-color:#ffffd0;
}

a.blocklink {
  font-size:12pt;
  text-decoration:none;
  color:#000080;
  padding:2px;
  display:block;
  border-style:solid;
  border-width:1pt;
  border-color:#000000;
  color:#000000;
  background-color:#f0f0ff;
  text-decoration:none;
}
a.blocklink:hover {
  background-color:#ffffd0;
}
img.button {
  background-color:#f0f0ff;
}
img.button:hover {
  background-color:#ffffd0;
}  
td.outer, th.outer {
  border-style:solid;
  border-color:#000000;
  border-width:1px;
}

table.numbers td, table.numbers th {
  padding:0.5ex;
}
table.numbers th {
  text-align:center;
}

table.numbers td.number {
  white-space:nowrap;
  text-align:right;
}

table.numbers td.mult {
  white-space:nowrap;
  text-align:right;
  border-right-style:none;
  margin-right:0pt;
  padding-right:1ex;
}
table.numbers td.mult_outdated {
  white-space:nowrap;
  text-align:right;
  border-right-style:none;
  margin-right:0pt;
  padding-right:1ex;
  background-color:#ffffaa;
}
table.numbers td.unit {
  white-space:nowrap;
  text-align:left;
  border-left:none;
  margin-left:0pt;
  padding-left:0pt;
}

table#preisform label {
  padding-left:2em;
  padding-right:1ex;
}

tr.modified td, tr.modified th, .modified {
  background-image:url(modified.gif);
  background-repeat:repeat;
}

div.untertabelle {
  font-size:12pt;
  font-weight:bold;
  padding:1em 1ex 1ex 1ex;
}

kbd {
  font-family:arial,sans-serif;
  font-weight:bold;
  color:#000000;
}

p.li {
  padding:0em 1em 0em 2em;
  margin:0em;
}

.small_form fieldset {
  background-color:#ffffd0;
  margin:1ex;
  border-style:solid;
  border-color:#000000;
  border-width:1px;
  padding:1ex;
  margin:1ex;
}
.small_form td, .small_form table {
  background-color:#ffffd0;
  border-style:none;
  padding:0.5ex;
  text-align:left;
}

fieldset legend {
  font-weight:bold;
  background-color:#ffffff;
  color:#000000;
  padding-top:0.3ex;
  padding-bottom:0.3ex;
  padding-left:2ex;
  padding-right:2ex;
  border-style:solid;
  border-width:1px;
  border-color:#000000;
}

.newfield {
  padding-top:1em;
}

input.checkbox {
  margin-left:2em;
}

div.kommentar {
  padding-top:1em;
  padding-bottom:1em;
  padding-left:4em;
  padding-right:4em;
  color:#4040a0;
  font-size:11pt;
}

div#Zusatz {
font-size: 0.9em;
float: right; width: 30em;
margin-left:  1em; 
padding: 1em;
border-style:solid;
border-color:#FF0000;
background-color: #eee;
}
table.footer {
  margin-top:2em;
  padding:2em 1em 1ex 1em;
  border-style:solid none none none;
  border-width:1px;
  border-color:#000000;
}
table.footer tr, table.footer td {
  border-style:none;
}

a.wikilink {
  padding:2px 1ex 2px 2em;
  font-size:11pt;
  background-color:white;
  background-image:url(../img/gluehbirne_15x16.png);
  background-repeat:no-repeat;
  background-position:5px;
  text-decoration:none;
}
a.wikilink:hover {
  background-image:url(../img/birne_rot.png);
  text-decoration:underline;
}
  
  
