/* -- Allgemeines -- */

body {
  background:#ffffff;
  color:#000000;
  margin:0pt;
  padding:0pt; 
  /* min-width: 763px;  <-- kann der exploder nicht! */
  font-size:11pt;
  font-family: verdana, arial, sans-serif;
}

div.payload, div.payloadro {
  padding:1ex;
  margin:1ex;
  color:#000000;
  padding:0pt;
  /* min-width: 763px;  <-- kann der exploder nicht! */
  font-size:11pt;
  font-family: verdana, arial, sans-serif;
}

.small {
  font-size:smaller;
}

div.payload, table.footer td {
  background:#ffffff;
}
body.ro, div.payloadro, body.ro table.footer td {
  /* bei "readonly" Hintergrundfarbe aendern */
  background:#ffeedd;
}


a {
  color:#ED0606;
  text-decoration: none;
}
a:visited {
  color:#ED0606;
}
a:hover {
  text-decoration: underline;
} 

 
h1 {
 color:#ED0606;
 /* font-size: 2em; <-- macht keinen sinn: em ist _relativ_ zum fontsize! */
 font-size:16pt;
 line-height: 0.8em;
 padding: 5px;
 margin: 0 0 1em 0;
 /* border-bottom: 1px dotted #ED0606; */
}

input:hover, textarea:hover, select:hover {
	background-color:#f5f5f5;
}
input:focus {
	background-color:#f5f5f5;
}

/* - Logo bzw. Kopf - */

table.head, table.head td, table.headro, table.headro td, div.head {
  border:none;
  color:#ffffff;
  font-weight: bold;
  font-size: 12pt;
  padding:0pt;
  margin:0pt;
}
table.head, table.head td, div.head {
  background:#ed0606;
}
table.headro, table.headro td, div.headro {
  background:url(readonly.gif);
  background-repeat:repeat;
}

td.logo {
  text-align:left;
  vertical-align:top;
}
span.logo, span.logoinvers, a.logo, a.logo:visited, a.logo:link {
 height:56px;
 line-height:54px;
 overflow:hidden; 
 letter-spacing:-1px;
 font-size:24pt;
 margin:0pt;
 padding:0pt;
 text-decoration: none;
}
span.logo, a.logo, a.logo:visited, a.logo:link {
  color: white; 
  background:#ed0606;
}
a.logo:hover {
  text-decoration:underline;
}
span.logoinvers {
  background:white;
  color:#ed0606;
}


/* das menu mit hover funktion  */


ul#menu {
  margin: 0px;
  list-style: none;
  background:#ed0606;
  padding: 5px 5px; /* Je kleiner das Fenster desto kleiner soll auch der Abstand des Menüs rechts und links sein. */
  text-align:right;
  line-height:3ex;  /* etwas zeilenabstand erzwingen */
}

ul#menu li {
  color: white;
  font-size:11pt;
  display:inline; /* Damit die Menüpunkte nebeneinander und nicht untereinander erscheinen. */
  /* position: relative; */
  list-style-type: none; /* Die Bullets vor den Menüpunkten schalten wir ab. */
  border-left: 1px dotted white;
  font-weight: bold;
  white-space:nowrap;
  margin:0pt;  /* bei inline-elementen sowieso wirkungslos */
  padding:0pt;
}


ul#menu li a {
  padding: 2px 10px 2px 10px;
	color: white;
	text-decoration: none;
}
ul#menu li a:hover {
  background: white;
  color: #ED0606;
}

/*
ul#menu li:hover {
  background: white;
  color: #ED0606;
}
*/

/* haben wir irgendwo verschachtelte menues???
#menu li:hover ul { display: block; }
#menu li ul {
  border-width: 0.25em;
  margin: 0;
  display: none;
  position: absolute;
  top: 1.2em;
  right: 0px;
  border-top: solid #ED0606 ;
  background:#ED0606;
  }

#menu li ul li {
  border-bottom: 1px dotted white;
  border-left: none;
  display: block;
  text-align: right;
  padding: 0px 10px 0px 15px;
}

#menu li ul li a {
  display: block;
  width: 10em;
  font-size:0.6em;
  width: 12em;
  text-decoration: none;
  padding: 0.5em 0 0.5em 0;
}
#menu li ul li:hover a, #menu li:hover a.first {
  color: #ED0606;
}
*/


#content {
 	border-top: none;
 	padding: 20px 0px 0px 0px;
}

/* für die menüs */
table.menu td {
	font-size:11pt;
	border:none;
}

/* für die tabellen */
table {
	font-size:11pt;
	border-collapse:collapse;
	border:1px dotted gray;
	text-align:left;
	background-color: white;
}
th, td {
	border:1px dotted gray;	
	padding:4px;
  vertical-align:top;
}
th {
	font-weight:bold;
	background-color:#DDDDDD;
}

table.debug tr th, table.debug tr td {
  border:1px dotted black;
}

table.info {
	border-collapse:collapse;
}
table.info td, th {
	border-top:1px dotted gray;
}
	
a {
  padding:0ex 1ex 0ex 1ex;
}

.png {
  border:none;
}

table.layout, table.layout td, table.inner, table.inner td {
	border:none;
}
table.inner td {
	padding:1px;
  padding-left:0.5ex;
  padding-right:0.5ex;
}
th.menge, th.toleranz {
	width: 70px;
}
th.gebinde {
	width: 170px;
}

ul.inner {
  padding:0pt 0pt 0pt 1.5em;
  margin:0pt;
  list-style-type:square;
}
ul.inner li {
  margin: 0.5ex 0ex 0.5ex 0ex;
}

table input {
	font-size:11pt;
}

/* für den hover effekt */
table.liste tr:hover, table.numbers tr:hover {
	background-color: #efefef;
}
	
a.tabelle {
	color:#ED0606;
}

tr.legende {
	font-size: 11pt;
	color: gray;
}
tr.legende td { border: none}

tr.summe {
  font-weight:bold;
}
tr.summe td {
  font-weight:bold;
  border-top:2px solid black;
  border-bottom:2px solid black;
}
tr.rubrik th {
  background-color:#eeeeee;
  border-top:1px solid black;
  padding:1ex 0ex 1ex 0ex;
}
tr.posten td {
  padding:0ex 0em 1em 0em;
  text-align:right;
}
tr.ersterposten td {
  padding:1em 0em 1em 0em;
  text-align:right;
}
tr.posten td.number, tr.ersterposten td.number {
  font-weight:bold;
}
tr.posten td.rednumber, tr.ersterposten td.rednumber, td.rednumber {
  color:#ff0000;
  font-weight:bold;
}

tr.groupofrows_top td {
  border-bottom-style:none;
}
table.numbers tr.groupofrows_bottom td {
  padding:0pt;
  margin:0pt;
  height:0pt;
  border-top-style:none;
}


.bigbutton, .bigbutton_warn {
	width:200px;
	height:30px;
	font-size:12px;
}

.bigbutton:hover {
  font-weight:bold;
}

.bigbutton_warn {
  background-color:#ffa0a0;
  font-weight:bold;
}



	
/* test für die notizanzeige in bestellen.php */

#notiz a {
/* display: block; */	
text-decoration:none;
font-weight:bold;
width:5px;
color: gray;
border:none;
}

#notiz a .showcase {
display: none;
}

#notiz a:hover .showcase {
position: relative;
top: 0px;
left: 20px;
display: block;
font: normal 0.9em sans-serif;
font-style:italic;
background: #efefef;
border: 1px dotted gray;
color:#000000;
padding: 2px 2px 2px 5px;
}

/* für die "tip" elemente */
#tip {
	width: 250px;
	background-color:#efefef;
	border: 1px dotted gray;
	color: #000;
	padding: 6px;
	font: normal 0.9em sans-serif;
	font-style:italic;
	 line-height: 1.3em;
}

.warn, .warn th, .warn td, .warn div, .warn span {
  background-color:#f0a0a0;
  color:#000000;
  font-weight:bold;
  padding-top:2px;
  padding-bottom:2px;
}


.alert, .alert th, .alert td, .alert div, .alert span, td.alert {
  background-color:#ffffa0;
  color:#000000;
  font-weight:bold;
  padding-top:2px;
  padding-bottom:2px;
}

table.alert, table.alert td {
  border:none;
}

th.ok, td.ok, div.ok, span.ok {
  background-color:#ccffcc;
  color:#000000;
}

a.button, span.button {
  text-decoration:none;
  color:#000000;
  background-color:#f0f0ff;
  padding:0.1ex 1em 0.1ex 1em;
  margin-left:1em;
  margin-right:1em;
  border-style:solid;
  border-width:1pt;
  border-color:#000000;
  font-weight:bold;
  font-size:11pt;
  white-space:nowrap;
}
a.button:hover, span.button:hover {
  font-weight:bold;
  text-decoration:underline;
  background-color:#ffffd0;
}
span.radiooption {
  padding-right:1em;
}

a.blocklink {
  font-size:12pt;
  text-decoration:none;
  color:#000080;
  padding:2px;
  display:block;
  border-style:solid;
  border-width:1pt;
  border-color:#000000;
  color:#000000;
  background-color:#f0f0ff;
  text-decoration:none;
}
a.blocklink:hover {
  background-color:#ffffd0;
}
img {
  border:none;
}
img.button {
  background-color:#f0f0ff;
}
img.button:hover {
  background-color:#ffffd0;
}  
td.outer, th.outer {
  border-style:solid;
  border-color:#000000;
  border-width:1px;
}

table.numbers td, table.numbers th {
  padding:0.5ex;
}
table.numbers th {
  text-align:center;
}

td.number, th.number, table.numbers th.number {
  white-space:nowrap;
  text-align:right;
}

table.numbers td.mult, table.numbers th.mult {
  white-space:nowrap;
  text-align:right;
  border-right-style:none;
  margin-right:0pt;
  padding-right:1ex;
}
table.numbers td.mult_outdated {
  white-space:nowrap;
  text-align:right;
  border-right-style:none;
  margin-right:0pt;
  padding-right:1ex;
  background-color:#ffffaa;
}
table.numbers td.unit, table.numbers th.unit {
  white-space:nowrap;
  text-align:left;
  border-left:none;
  margin-left:0pt;
  padding-left:0pt;
}
table.list tr td, table.list tr th, .small_form table.list tr td, .small_form table.list tr th {
  padding: 0.4ex 1em 0.2ex 1em;
  border:solid 1pt black;
}

table#preisform label {
  padding-left:2em;
  padding-right:1ex;
}

label {
  margin-right:1em;
}

tr.modified td, tr.modified th, .modified {
  background-image:url(modified.gif);
  background-repeat:repeat;
}
tr.active td {
  background-color:#ccffcc;
}

div.untertabelle {
  font-size:12pt;
  font-weight:bold;
  padding:1em 1ex 1ex 1ex;
}

kbd {
  font-family:arial,sans-serif;
  font-weight:bold;
  color:#000000;
}

p.li {
  padding:0em 1em 0em 2em;
  margin:0em;
}

.small_form fieldset, fieldset.small_form {
  background-color:#ffffd0;
  margin:1ex;
  border-style:solid;
  border-color:#000000;
  border-width:1px;
  padding:1ex;
  margin:1ex;
}
table.small_form tr td, .small_form table, .small_form table tr td {
  background-color:#ffffd0;
  border-style:none;
  padding:0.5ex;
  text-align:left;
}
.small_form table tr th {
  background-color:#e0e0a0;
}

.small_form table tr td label a {
  padding:0pt;
}

fieldset.big_form {
  background-color:#ffffff;
  margin:1ex;
  border-style:solid;
  border-color:#000000;
  border-width:1px;
  padding:1ex;
  margin:1em 1ex 1em 1ex;
}

fieldset legend {
  font-weight:bold;
  background-color:#ffffff;
  color:#000000;
  padding-top:0.3ex;
  padding-bottom:0.3ex;
  padding-left:2ex;
  padding-right:2ex;
  border-style:solid;
  border-width:1px;
  border-color:#000000;
}

.newfield {
  padding-top:1em;
}

input.checkbox {
  margin-left:2em;
}

div.kommentar {
  padding-top:1em;
  padding-bottom:1em;
  padding-left:4em;
  padding-right:4em;
  color:#4040a0;
  font-size:11pt;
}

div.oneline {
  padding:0pt;
  margin:0pt;
  white-space:nowrap;
}
div.oneline_small {
  padding:0pt;
  margin:0pt;
  white-space:nowrap;
  font-size:smaller;
}

div#Zusatz {
font-size: 0.9em;
float: right; width: 30em;
margin-left:  1em; 
padding: 1em;
border-style:solid;
border-color:#FF0000;
background-color: #eee;
}
table.footer {
  margin-top:2em;
  padding:2em 1em 1ex 1em;
  border-style:solid none none none;
  border-width:1px;
  border-color:#000000;
}
table.footer tr, table.footer td {
  border-style:none;
}

a.wikilink, ul#menu li a.wikilink {
  padding:2px 1ex 2px 2em;
  font-size:11pt;
  background-color:white;
  color:#ed0606;
  background-image:url(../img/gluehbirne_15x16.png);
  background-repeat:no-repeat;
  background-position:5px;
  text-decoration:none;
}
a.wikilink:hover, ul#menu li a.wikilink:hover {
  background-image:url(../img/birne_rot.png);
  text-decoration:underline;
}
ul#menu li a.wikilink {
  margin-left:2em;
}

.buttonup {
  color:#000000;
  background-color:#eecccc;
  border-style:outset;
  border-width:3px;
  padding:0.2ex 1ex 0.2ex 1ex;
  text-align:center;
  font-weight:normal;
}
.buttonup:hover {
  font-weight: bold;
  color:#000000;
  background-color:#ddeecc;
  border-style:outset;
  border-width:3px;
  padding:0.2ex 1ex 0.2ex 1ex;
  text-align:center;
}
.buttondown {
  color:#000000;
  background-color:#ccffcc;
  border-style:inset;
  border-width:3px;
  padding:0.2ex 1ex 0.2ex 1ex;
  text-align:center;
  font-weight:bold;
}
.buttondown:hover {
  background-color:#ccffcc;
}
  
#option_menu {
  padding-top:1ex;
  padding-bottom:1em;
}

